#root {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
    --outside-color: #ebebeb;
    --inside-color: #ffffff;
    --note-color: #f5f5f5;
    --border-color: #bbbbbb;
    --hover-color: #f7f7f7;

}