.server-container {
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.25s ease-in;
}

.server-container:hover {
    background-color: var(--hover-color);
}

.server-container.selected {
    background-color: var(--hover-color);
}